body{
    display:flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width:900px;
    height:1000px;
}


.one, .footer{
    background-color: #1F2937;
}


h1{
    font-size: 28px;
    color:white;
    font-weight:800;
    padding: 0 20px;
    width:200px;
}

h2{
    font-size: 20px;
    color: #F9FAF8;
    padding: 0 20px;
    margin-left:50px;
}

.body, .link{
    font-size: 12px;
    color:#E5E7EB;
}

button{
    background-color: #3882F6;
    color:white;
}

.two{
    font-size: 20px;
    color:#1F2937;
    font-weight: 900;
    text-align: center;
    padding:80px;
    display:flex;
    flex-direction: column;

}

.four{
    width:500px;
    height:50px;
    border: #3882F6 solid 2px;
    background-color: #3882F6;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 8px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.three{
    background-color: #E5E7EB;
    font-size: 16px;
    font-style: italic;
    color:#1F2937;
    text-align: left;
    padding:40px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left:50px;
}

.all{
    display: flex;
    font-weight: 10;
    font-size:15px;
    width:300px;
    gap: 40px;
    margin-left:100px;
    margin-top: 20px;
}

.footer{
    color:white;
    text-align: center;
    padding:20px;
    font-size: 10px;
}

.section{
    display:flex;
}

.group{
    display:flex;
    gap:10px;
    margin-left: 300px;
    padding-right: 80px;
    padding-top: 20px;
}

.body{
    padding: 0 20px;
    text-align: left;
    width:280px;
}

.button_one{
    margin: 20px 20px;
    margin-left:80px;
    border-radius: 8px;
}

.rectangle{
    width:300px;
    height:150px;
    background:gray;
    border:gray solid 2px;
    margin-left: 80px;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
}

.together{
    display:flex;
}

.square{
    width:100px;
    height:100px;
    border:#3882F6 solid 3px;
    border-radius: 8px;
}

.sq{
    display: flex;
    flex-direction: column;

}

.one{
    padding-bottom: 50px;
}

.squares{
    font-size: 10px;
}

.quote{
    width:450px;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    padding:25px;
}

.person{
    font-weight: bold;
    margin-left: 450px;
}

.action{
    color:white;
    font-size: 14px;
    font-weight: bold;

}

.text{
    color:white;
    font-size: 11px;
}

.button_two{
    margin-left: 380px;
    border-radius: 4px;
    padding:2px 20px;
    border:2px white solid;
}